.caja-1{
    
    width: 30%;
    height: 460px;
    background:palevioletred;
    padding: 20px;
    float: left;   
    display: flex;
    flex-direction: row;
    align-self: center;
}
.foto-1{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    float: left;
    display: flex;
    flex-direction: row;
    align-self: center;
    
}
.caja-2{
  float: left;
  padding: 20 px;
  width: 60%;
  background:palevioletred;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.article{
    display: flex;
    flex-direction: row;
    align-self: center;
   
}

p{
    column-count: 2;
    color: white;
}

   
.caja-3{
    float: left;
  padding: 20 px;
  width: 60%;
  background:palevioletred;
  height: 250px;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-wrap: wrap;
}



.foto{
    height: 90px;
    width: 110px;
    padding: 10px;
   
}

@media only screen and (max-width:480px){
    .caja-1 , .caja-2{
        width: 100%;
        height: auto;
    }
}